body{
    background-color: #F6F6F6;
}

.maincard{
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 0px 0px 25px 0px;
    width: 100%;
}

#content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding: 5px;
}

.item{
    padding-top: 30px;
}